@import "../utils/variables.scss";

.buscadorCandidatos {
  & > form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    & > input {
      -webkit-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      width: 60%;
      height: 50px;
      text-align: center;
      background-color: grey;
      color: white;
      margin-right: 25px;
    }
    & > button {
      border-radius: 10px;
      width: 10%;
      height: 50px;
      text-align: center;
      background-color: $verde;
      color: white;
    }
    & > form {
      display: flex;
      justify-content: center;
      margin: 40px 0;
    }
  }
}
.botonesCandidatos{
  & > button {
    border-radius: 30px;
    width: 20%;
    height: 50px;
    text-align: center;
    background-color: $amarillo;
    color: black;
    margin-bottom: 30px;
  }
}


@media (max-width: 450px) {
  .buscadorCandidatos {
    & > form {
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      display: grid;
      & > input {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0px;
      }
      & > button {
        width: 100%;
      }
    }
  }
}
