@import "../utils/variables.scss";

.buscadorCandidaturas {
    &>h2{
        text-align: center;
        margin: 40px 0;
    }
  & > form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    & > input {
      -webkit-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      width: 60%;
      height: 50px;
      text-align: center;
      background-color: grey;
      color: white;
    }
    & > button {
      border-radius: 10px;
      width: 10%;
      height: 50px;
      text-align: center;
      background-color: $verde;
      color: white;
    }
    & > form {
      display: flex;
      justify-content: center;
      margin: 40px 0;
    }
  }
}

@media (max-width: 950px) {
  input {
    width: 80%;
    margin-bottom: 20px;
  }
  button {
    width: 50%;
  }
}
