@import "../utils/variables.scss";

.buscadorEmpleados {
 
  & > form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    margin-bottom: 10px;
    gap: 5px;
    & > input {
      -webkit-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      width: 60%;
      margin-right: 20px;
      height: 50px;
      text-align: center;
      background-color: grey;
      color: white;
    }
    & > button {
      border-radius: 10px;
      width: 30%;
      max-width: 100px;
      height: 50px;
      text-align: center;
      background-color: $verde;
      cursor: pointer;
      color: white;
      &:hover {
        background-color: $amarillo;
        color: black;
      }
    }
   
   
  }
}
.spinner-empleados {
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
}
.botonesEmpleado{
  margin-top: 10px;
  display: flex;
  gap:5px;
  justify-content: center;
  align-items: center;
  & > button {
    border-radius: 30px;
    width: 30%;
    cursor: pointer;
    height: 50px;
    text-align: center;
    background-color: $amarillo;
    color: black;
    margin-bottom: 30px;
    &:hover {
      background-color: $verde;
      color: white;
    }
  }
 
}

@media (max-width: 600px) {
  .buscadorEmpleados {
  padding: 10px;
    & > form > input {
      width: 100%;
      margin-bottom: 10px;
      min-width: 150px;
    }
    & > form > button {
      width: 20%;
    }
  }
  .botonesEmpleado{
    & > button {
      width: 180px;
      margin-bottom: 10px;
    }
  }
}