@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 30px;
}

.candidato-details,
.candidatura-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.candidato-info,
.competencies,
.candidatura-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    //border: 2px solid $amarillo;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px grey;
    background-color: rgb(255, 254, 254);
    padding: 10px;

    &>span {
        display: flex;
        flex-direction: row;
        gap: 5px;
        max-width: fit-content;
    }
}

h4.message-prediction {
    text-align: center;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 5px;
    padding: 6px;
}

.message-prediction.active {
    border-color: #28a745;
    background-color: #add2b6;
    width: 88%;
}

.icon-pdf {
    color: red;

    &:hover {
        color: #28a745;
    }
}

.lapiz {
    color: $verde;
    cursor: pointer;
}

h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.save-button {
    border-radius: 10px;
    width: 40%;
    max-width: 100px;
    text-align: center;
    background-color: $verde;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: $amarillo;
        color: black;
    }
}

.button-candidatura-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;

    .delete-candidatura-button {
        border-radius: 10px;
        width: 30%;
        max-width: 200px;
        min-width: 100px;
        height: auto;
        text-align: center;
        background-color: $verde;
        padding: 10px;
        cursor: pointer;
        color: white;

        &:hover {
            background-color: $amarillo;
            color: black;
        }
    }
}

.competencies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 15px;
    }
}

.confirmation-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid $amarillo;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    z-index: 1000;

    p {
        margin-bottom: 16px;
    }

    button {
        margin-right: 8px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: #28a745;
            color:black;
        }

       
    }
}

@media screen and (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
        flex-wrap: wrap;
        @include centered-content;
    }

    .candidatura-details,
    .candidato-details {
        flex-direction: row;
        width: 100%;
    }

    .candidato-info,
    .competencias,
    .candidatura-info {
        width: 50%;

    }

}