@import "../utils/variables.scss";
.footerStyle {
  bottom: 0;
  width: 100%;
  background-color: $verde;
  text-align: center;
  padding: 50px 0;
  color: white;
  justify-content: center;
  font-size: 14px;
  // margin-top: auto;
  & > .redes {
    display: flex;
    justify-content: center;
    justify-items: center;
    & > a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      padding-bottom: 5px;
      & > img {
        width: 30%;
      }
    }
  }
}
