@import "../utils/variables.scss";
@import "../utils/mixins.scss";



.listaCandidaturas{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    &>h2{
        color: black;
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 30px;
    }

    .spinner {
        align-self: center;
    }
   
}



.search-form {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 1%;

    & > input {
      -webkit-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      width: 30%;
      height: 50px;
      margin-right: 10px;
      text-align: center;
      background-color: grey;
      color: white;
      font-size: 80%;
    }
    & > button {
      border-radius: 10px;
      width: 10%;
      max-width: 100px;
      height: 50px;
      text-align: center;
      background-color: $verde;
      margin-right: 10px;
      font-size: 80%;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: $amarillo;
        color: black;
      }
      
    }
    &>select{
        -webkit-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        margin-right: 10px;
        font-size: 80%;
        width: 20%;
        height: 50px;
        text-align: center;
        background-color: grey;
        color: white;
    }


}
.pagination{
    justify-content: center;
    justify-items: center;
    display: flex;
    padding: 30px;
    & > .next, & > .prev{
        border-radius: 10px;
        width: 10%;
        height: 50px;
        text-align: center;
        background-color: $verde;
        margin-right: 10px;
        font-size: 100%;
        color: white;
      }
      &>.active{
        background-color: $amarillo;
        color: white;
      }
      & > button {
        border-radius: 10px;
        width: 10%;
        height: 50px;
        text-align: center;
        background-color: white;
        margin-right: 10px;
        font-size: 100%;
        color: black;
        cursor: pointer;
        &:hover {
            background-color: $amarillo;
            color: black;
          }
      }
}

@media (max-width: 950px) {

    .search-form {
        flex-direction: column;
        margin: 10px 60px;
        & > input {
            width: 100%;
            margin-bottom: 10px;
        }
        & > button {
            width: 100%;
            max-width: 850px;
        }
        &>select{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .pagination {
        & > .next, & > .prev {
            width: 100%;
            margin-bottom: 10px;
            display: block;
        }
        &>.active{
            width: 100%;
            margin-bottom: 10px;
            display: block;
        }
        & > button {
            display: none;
        }
    }
}

