.listaEmpleados{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

@media (max-width: 768px) {
    .listaEmpleados{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}