@import "../utils/variables.scss";

header {
  position: relative;
  &>img{
    width: 10%;
    height: 100%;
  }
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  color: black;
  height: 50px;
  padding-bottom: 5px;
  width: 50px;
}

nav {
  background-color: white;
  width: 100%;
  display: block;
  max-width: 100%;
  padding: 40px 20px;
  color: rgb(63, 63, 63);
  text-decoration: none;
  font-size: 20px;


  & > ul {
    margin: 0px 20px;
    padding: 0px;
    display: flex;
    justify-content: space-around;

    &>h3 {
      font-size: 80%;
      padding: 10px;
      font-weight: normal;
    }

    & > li {
      display: flex;
      font-size: 80%;
      border: 2px solid $amarillo;
      border-radius: 20px;
      padding: 10px 20px;
    }
    &>li:hover {
      background-color: $amarillo;
      color: white;
    }

    & > button {
      background-color: white;
      border: none;
      display: flex;
      font-size: 80%;
      padding: 10px 20px;
      border: 2px solid $amarillo;
      border-radius: 20px;
      justify-content: center;
    }
    & > button:hover {
      background-color: $amarillo;
      color: white;
    }
    a:-webkit-any-link {
      color: rgb(63, 63, 63);
      cursor: pointer;
      text-decoration: none;
    }
    a:-webkit-any-link:hover {
      color: white;
    }
  }
}



@media (max-width: 900px) {
  header {
    &>img{
      width: 20%;
    }
  }
  .hamburger-menu {
    display: block;
  }

  nav {
    display: none;
  }

  nav.open {
    display: block;
  }

  nav > ul {
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid $amarillo;
    &>h3{
      padding-bottom: 40px;
    }
    &>button{
      border: none;
      text-align: center;
      color: $verde;
    }
    a:-webkit-any-link {
      color: $verde;
    }
  }

  nav > ul > li {
    padding: 10px 0;
    border: none;
  }
  
}

@media (max-width: 1200px) {
  nav > ul {
    &>li{
      font-size: 14px;
    }
    &>button{
      font-size: 14px;
    }
  }
}