@import "../utils/variables.scss";

.hamburger-menu {
  display: none;
  font-size: 30px;
  position: relative;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  color: black;
  height: 50px;
  padding-bottom: 5px;
  width: 50px;
  background-color: $amarillo;
  border: 3px solid rgb(255, 183, 0);
  border-radius: 20px;
  
}

nav {
  background-color: white;
  width: 100%;
  display: block;
  max-width: 100%;
  padding: 40px 20px;
  color: rgb(63, 63, 63);
  text-decoration: none;
  font-size: 20px;

  & > ul {
    margin: 0px 20px;
    padding: 0px;
    display: flex;
    justify-content: space-around;

    &>h3 {
      font-size: 80%;
      padding: 10px;
      font-weight: normal;
    }

    & > li {
      display: flex;
      font-size: 80%;
      border: 2px solid $amarillo;
      border-radius: 10px;
      padding: 10px 10px;
      margin: 0px 5px 0px 0px;
    }
    &>li:hover {
      background-color: $amarillo;
      color: white;
    }

    & > button {
      background-color: white;
      border: none;
      display: flex;
      font-size: 80%;
      padding: 10px 20px;
      border: 2px solid $amarillo;
      border-radius: 10px;
      justify-content: center;
      cursor: pointer;
    }
    & > button:hover {
      background-color: $amarillo;
      color: white;
    }
    a:-webkit-any-link {
      color: rgb(63, 63, 63);
      cursor: pointer;
      text-decoration: none;
    }
    a:-webkit-any-link:hover {
      color: white;
    }
  }
}


@media (max-width: 1000px){
  nav {
    &>ul>li{
      font-size: 14px;
    }
    &>ul>button{
      font-size: 14px;
    }
  }
}
@media (max-width: 950px) {
  .hamburger-menu {
    display: block;
    left: 140px;
  }
  .imgLogo{
    margin: 0 90px;
  }
  nav {
    display: none;
  }

  nav.open {
    display: block;
  }

  nav > ul {
    flex-direction: column;
    align-items: center;
    &>h3{
      padding-bottom: 10px;
      font-size: 20px;
      border-bottom: 2px solid $verde;
    }
    
    &>button{
      border: 2px solid $amarillo;
      border-radius: 10px;
      padding: 10px 20px;      
      text-align: center;
      color: $verde;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    a:-webkit-any-link {
      color: $verde;
      font-size: 20px;
      border: 2px solid $amarillo;
      border-radius: 10px;
      padding: 10px 20px;
    }
  
  }

  nav > ul > li {
    padding: 10px 0;
    border: none;
  }
  
}
