@import "../utils/variables.scss";

.tarjetaCandidatos {
  border: 3px solid $amarillo;
  border-radius: 20px;
  padding: 10px 60px;
  margin: 10px 100px;
  & > .nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid rgb(211, 169, 0);
    border-radius: 10px;
    background-color: $amarillo;

    &>h3 {
      padding-top: 10px;
      color: black;
    }
  }
  & > .otros {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    
    & > h3 {
      color: $verde;
      margin: 0;
    }
    & > p {
      //padding: 20px 10;
      font-weight: 500;
      font-size: medium;
      margin-right: 10px;
    }
    & > p {
      padding: 10px 0;
      font-weight: 500;
      font-size: medium;
    }
  }
}

.editTaskForm {
padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  & > div {
    display: flex;
    width: 60%;
    justify-content: space-between;

    & > label {
      color: $verde;
      font-weight: 800;
      padding: 10px;
      font-size: 20px;
    }
    & > select,
    & > input {
      width: 200px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid $amarillo;
      font-size: 17px;
    }
  }
  & > .botonesEdit {
    display: flex;
    justify-self: start;
    justify-content: center;
    & > button {
      padding: 10px 20px;
      border-radius: 30px;
      background-color: $verde;
      color: white;
      font-size: 17px;
      margin-top: 30px;
      margin-bottom: 20px;
    margin-right: 20px;
      &:hover {
        cursor: pointer;
        border: 2px solid black;
        background-color: lighten(rgb(211, 169, 0), 10%);
        color: black;
      }
    }
  }
  & > .btnContainer {
    display: flex;
    gap: 8px;

    & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      padding: 15px;
      margin-top: 30px;
      background-color: $verde;
      color: white;
      font-size: 17px;
      &:hover {
        cursor: pointer;
        border: 2px solid black;
        background-color: lighten(rgb(211, 169, 0), 10%);
        color: black;
      }
    }
  }
}

.confirmDialog {
margin-top: 15px;
  &>button {
    border-radius: 10px;
    padding: 15px;
    background-color: $verde;
    color: white;
    font-size: 10px;
    cursor: pointer;
    &:hover {
      background-color: $amarillo;
      color: black;
    }
  }
}

@media (max-width: 960px) {
  .tarjetaCandidatos {
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px 20px;
    & > div {
      & > p {
        padding-top: 10px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 470px) {
  .editTaskForm{
    &>div{
      width: 100%;
      justify-content: center;
      &>label{
        font-size: 15px;
      }
      &>select,
      &>input{
        width: 100%;
      }
    }
  }
}