@import "../utils/variables.scss";

.tarjetaEmpleado{

    border: 3px solid $amarillo;
    border-radius: 20px;
    padding: 50px 100px;
    margin: 10px 100px;
    &>.nombreEmpleado{
        margin-bottom: 20px;
        margin-top: 10px;
        border: 2px solid rgb(211, 169, 0);
        border-radius: 20px;
        padding: 10px;
        background-color: $amarillo;

        &>h3{
            color: black;
        }
    }
    &>.emailEmpleado, &>.rolEmpleado, &>.candidaturasEmpleado, &>.idEmpleado{  
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        &>h3{
            color: $verde;
            padding-right: 20px;
        }
        &>p{
            padding: 20px 10;
            font-weight: 500;
            font-size: medium;
        }
        &>p{
            padding: 10px 0;
            font-weight: 500;
            font-size: medium;
        }
    }
}

@media (max-width: 960px){
    .tarjetaEmpleado{
        flex-direction: column;
        padding: 10px 20px;
        margin: 10px 20px;
        &>div{
            &>p{
                padding-top: 10px;
                font-weight: 500;
                font-size: 12px;
            }
            &>h3{
                font-size: 15px;
            }

        }

    }
}

@media (max-width: 600px){
    .tarjetaEmpleado{
        padding: 10px 20px;
        margin: 10px 20px;
        &>div{
            &>p{
                padding-top: 10px;
                font-weight: 500;
            }

        }

    }
}